<nav>
    <ul>
        <li><a [routerLink]="ENDPOINTS.AUTH.LOGIN" routerLinkActive="active">Login</a></li>
        <li><a [routerLink]="ENDPOINTS.AUTH.REGISTER" routerLinkActive="active">Register</a></li>
        <li><a [routerLink]="ENDPOINTS.DASHBOARD.HOME" routerLinkActive="active">Home</a></li>
        <li><a [routerLink]="ENDPOINTS.PRODUCTS.LIST" routerLinkActive="active">Products</a></li>
        <li><a [routerLink]="ENDPOINTS.NGXFLOW.PLAYGROUND" routerLinkActive="active">Ngx_Flow_Demo</a></li>
        <li><a [routerLink]="ENDPOINTS.CUSTOME_NODES.HANDLING" routerLinkActive="active">Custome Node handeling</a></li>
        <li><a [routerLink]="ENDPOINTS.CUSTOME_NODES.DELETE_SELECTED" routerLinkActive="active">Delete Selected</a></li>
    </ul>
</nav>