:host {
        display: block;
        width: 150px;
        height: 100px;
        padding: 10px;
        border: 1.5px solid #1b262c;
        border-radius: 5px;
        color: black;
        background-color: white;
      }

      .bottom-label {
        margin-top: 25px;
      }